/*For everyone*/
body {
    background-color: whitesmoke;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.column {
    padding: 0;
    float: left;
}

/*End of For everyone*/

/*Sign In*/
.signIn {
    margin: 50px;
}

.signIn .column:first-child {


    width: 35%;
    position: fixed;
    right: 0;

}

.signIn .column:not(:first-child) {
    width: 65%;
    color: black;
    float: left;
}

.signIn #bg {
    background-image: url("./Assets/Images/bg.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
}

.signIn nav {
    padding: 0 40px;
}

.signIn nav a {
    margin-right: 30px;
    font-size: 18px;
    padding: 10px;

}

.signIn nav .active {

    border-bottom: 2px solid #003147;

}


.signIn .wrapper {
    margin-left: 5%;
    margin-top: 10%;

}

.signIn h1 {
    color: #003147;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.signIn p {
    color: #4F4E4E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.signIn table {
    width: 100%;
}

.signIn td:first-child {
    width: 10%;
}

.signIn table h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #003147;
    font-size: 18px;
}

.signIn table td {
    padding: 0;

}

.signIn table img {
    width: 52px;
    margin: 10px 10px 0 0;
}

.signIn table input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    padding: 0;
}

.signIn .email,
.signIn .password {
    background-color: #fff;
    width: 500px;
    padding: 10px 20px;
    box-shadow: 0px 0px 18px 1px #FFF5F0;
    margin-bottom: 20px;
    position: relative;
}

.signIn .tempStyle {
    background-color: #fff;
    width: 500px;
    padding: 10px 20px;
    margin-bottom: 20px;
    position: relative;

    background: #FFF;
    box-shadow: 0px 0px 18px 1px #003147;
    border-left: 3px solid #003147;
}

/* 
.signIn .email input:focus {
 border-left: 3px solid #543322;
  } */


.signIn .show {
    cursor: pointer;
    position: absolute;
    width: 30px;
    right: 15px;
    top: 25px;
}

.signIn-form p {
    cursor: pointer;
    width: 490px;
    text-align: right;
}

.signIn-form button {
    width: 500px;
    padding: 10px;
    flex-shrink: 0;
    background: #003147;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    margin-top: 20px;
}

.signIn-form button:hover {
    background: #85736b;
}

.signIn .bgLayer {
    width: 100%;
    border-radius: 1em;
    background-color: #003147;
    opacity: 0.5;

    text-align: center;
    height: 100%;
}

/*End of Sign In*/

/*Admin Dashboard*/
.dashboard nav {
    margin: 0;
    padding: 0;
}

/* .dashboard .column:first-child {
    float: left;
    width: 60%;
    padding: 0 10px;
    padding-bottom: 20px;
    padding-left: 0px;

}

.dashboard .column:not(:first-child) {
    float: left;
    width: 35%;
    padding: 0 10px;
    padding-bottom: 20px;
    padding-left: 0px;
} */

.top .sign-out {
    width: 45%;
    color: black;
    float: left;
    padding: 0;
    margin: 0;
    text-align: right;
}

.top .sign-out button {
    width: 120px;
    background: #543322;
    border: none;
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 10px;
}

.top .sign-out button:hover {
    background: #ff8585;
    border: 1px solid #543322;
    color: #000;
    box-shadow: 0px 0px 18px 1px #b40202;
}

.top {
    margin-left: 21%;
    padding: 0 0 0 40px;
}

.top h1 {
    font-size: 35px;
    margin: 0;
    padding: 0;
    color: #003147;
}

.top .hotel {
    cursor: pointer;
    padding: 10px;
    background-color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 100%;
    border: 2px solid #999999;
}

.top .hotel button {
    background-color: transparent;
    outline: none;
    border: none;
}

.dashboard .date {
    width: 50%;
    color: black;
    float: left;
}

.dashboard .date h3 {
    color: #4F4E4E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
}



#top-nav {
    padding: 30px;
    background: #FFF;
    box-shadow: 0px 0px 10px 6px #575757;
    padding-left: 22%;
}

#top-nav .sign-out {
    text-align: right;
}

#dash header {
    background-image: url("./Assets/Images/hotel.jpg");
    background-size: cover;
    height: 30vh;
    background-position: center;
    background-attachment: fixed;
    text-align: left;
    width: 94%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0px 0px 30px;
    border-radius: 1em;
    box-shadow: 5px 5px 10px 0px #4F4E4E;
}

#dash .hdText {
    position: absolute;
    color: whitesmoke;
    margin-left: 30px;
    font-size: 18px;
}

#dash .bgLayer {
    width: 100%;
    border-radius: 1em;
    background-color: #003147;
    opacity: 0.7;

    text-align: center;
    height: 100%;
}

#dash .column:first-child {
    width: 60%;
    color: black;
    float: left;
}

#dash .column:not(:first-child) {
    width: 36%;

    right: 0;
}

#states {
    margin: 40px 0 0 40px;

}

#states .column {
    width: 45% !important;
    float: left;
    padding: 5px;
}

#states .stCard {
    padding: 10px 20px;
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px 0px #4F4E4E;
    border-radius: 1em;
}

#states h4 {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 22px;
    color: #003147;
}

#states .stCard h5 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #003147;
}

#states .stCard p {
    margin: 0;
    padding: 0;

    font-size: 14px;
}

/* number */
#states .stCard span {
    float: right;
}

#states .sideCard {
    padding: 20px;
    background-color: rgb(26, 26, 26);
    color: white;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px 0px #4F4E4E;
    border-radius: 1em;
    margin-bottom: 10px;
}

#states #imgbg {

    background-image: url("./Assets/Images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#states .lStCard {
    padding: 10px 20px;
    background-color: white;
    width: 87%;
    height: 100%;
    box-shadow: 5px 5px 10px 0px #4F4E4E;
    border-radius: 1em;
    margin-top: 20px;
}


.dashboard #details {
    padding: 20px;
    margin-top: 30px;
    margin-left: 15px;
    background-color: white;
    border-radius: 1em;
    box-shadow: 5px 5px 10px 0px #4F4E4E;
}

.dashboard #details .column {
    width: 45%;
    float: left;
    padding: 10px;
}

.dashboard #details p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.dashboard #details h5 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #003147;
}

.dashboard #details h3 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #003147;
}


#details iframe {
    height: 200px;
    width: 100%;
    margin: 10px 0;
    outline: none;
    border: none;
}

.sideNav {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    background: #FFF;
    box-shadow: 0px 0px 10px 6px #575757;
    flex-shrink: 0;

}

.sideNav h1 {
    margin: 20px !important;
    font-size: 28px;
    color: #003147;
}

.sideNav .logo {
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 20px;
}

.sideNav #text {
    display: block;
}

.controllers {
    margin: 50px 20px 0 20px;

}

.sideNav .sign-outBtn {
    margin: 40vh 20px 20px 20px;
    width: 90%;
    text-align: left;
    padding: 5px;
    margin-bottom: 10px;

    background: whitesmoke;

    outline: none;
    border: none;
}

.sideNav .sign-outBtn:hover {
    background-color: #c50404;
}

.sideNav .sign-outBtn span {
    margin-left: 15px !important;
}

.controllers button {
    width: 100%;
    text-align: left;
    padding: 5px;
    margin-bottom: 10px;

    background: whitesmoke;

    outline: none;
    border: none;
}

.controllers button:hover {
    box-shadow: 3px 3px 5px 0px #747272;
}

.controllers button:focus {
    border-right: 3px solid #543322;
}

.controllers span {
    margin-left: 15px !important;
}

main {
    margin-left: 21%;
    padding: 0 30px 30px 0;
}

#dashboard {
    display: block;
}

#addRoom {
    display: none;
}

#viewRooms {
    display: none;
}

/*Admin Dashboard*/

/*New room*/
.new-room {
    margin: 0px;
    padding: 0 30px;
}

.new-room h1 {
    padding: 0;
    margin: 0;
    color: #003147 !important;
    font-size: 30px !important;
    font-weight: bold;

}



.new-room .intro {
    margin: 0;
    padding: 0;
    color: #616060;
    font-size: 16px;

}

#room-imgs {
    display: block;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

#room-dtls {
    display: none;
}

#room-dtls .column {
    width: 50%;
}

.images-form {
    margin: 10px 0;
}

.images-form button,
#displayImg button {
    width: 250px;
    background: #003147;

    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    margin-top: -10px;
}

.images-form button:hover,
#displayImg button:hover {
    background: #6b818a !important;
    border: 2px solid #003147 !important;
    color: #003147 !important;
}

.images-form h4 {
    color: #003147;
    padding: 0;
    margin: 10px;
}

.input-images {
    width: 400px;
    border: 1px solid #4d4d4d;
    background-color: whitesmoke;
    margin-bottom: 20px;
    padding: 10px;
}

.images-form p {
    margin-top: 20px;
    font-style: italic;
    font-size: 16px;
}

.room-form {
    padding: 30px 0;
}

.room-form .check {
    margin: 10px;
}

.room-form input,
.room-form select,
.room-form textarea {

    margin-bottom: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid #003147;
    background-color: whitesmoke;
}

.room-form .small {
    width: 39%;
    margin-right: 10px;
}

.room-form .small2 {
    width: 44%;
    margin-right: 10px;
}

.room-form select {
    /* width: 50% !important; */
    padding: 10px;
    /* margin-left: 20%; */

}

.room-form label {
    color: #003147;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px !important;
}

/* .room-form textarea {
margin-top: 20px;
} */

.room-form .long {
    width: 90%;
}

.room-form input:focus,
.room-form select:focus,
.room-form textarea:focus {
    box-shadow: 0px 0px 18px 1px #003147;
    border: 2px solid #0035c5;
}

.room-form span {
    font-size: 14px;
}

.room-form button {
    width: 94%;
    background: #543322;
    border: none;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    padding: 10px;
}

.room-form button:hover,
.images-form button:hover {
    background: #f0c5b0;
    border: 1px solid #543322;
    color: #543322;
    box-shadow: 0px 0px 18px 1px #574a44;
}

#displayImg {
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#addImgs .column {
    padding: 0;
    margin: 0;
    width: 30%;
    text-align: center;
}


#addImgs .column {
    padding: 20px 0;
    width: 30%;
}

#displayImg .main {
    width: 360px;
    height: 280px;
    object-fit: cover;
    box-shadow: 5px 5px 10px 0px #4F4E4E;
}


#addImgs .sub {
    width: 116px;
    height: 90px;
    object-fit: cover;
    box-shadow: 5px 5px 10px 0px #4F4E4E;
}

#displayImg button {
    margin-top: 10px;
    width: 100%;
}

/*End of New room*/

/*Rooms and room*/



.rooms h1,
#room h1 {
    padding: 0;
    margin: 0;
    color: #003147;
    font-size: 40px;
    font-weight: bold;
}

.rooms .intro,
.room .intro {
    margin: 0;
    padding: 0;
}

#search .column {
    padding: 20px;
    margin: 0;
    width: 45%;
}

#search .column:first-child {
    text-align: left;
}


#search .column:not(:first-child) {
    text-align: right;
}


.searchBar {
    background: #FFF;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
    width: 300px;
    height: 50px;
    padding: 10px 15px;
    flex-shrink: 0;
    text-align: left !important;
    float: right;
}

.searchBar button,
.searchBar input {
    outline: none;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.searchBar input {
    width: 90%;
    height: 100%;
}

/* 
.searchBar button {
    /* margin-top: 10px; *
} */

.searchBar img {
    width: 30px;
}

.myRooms .column {
    padding: 20px;
    margin: 0;
    width: 95%;
}

.myRooms .card {
    display: flex;
    align-items: center;
    width: 100%;
    /* max-width: 650px; */
    padding: 10px;
    background: #fff;
    /* border-radius: 24px; */
    box-shadow: 0px 0px 10px 6px #575757;

    /* width: 100%;
    height: 400px;
    flex-shrink: 0;

    background: #FFF;
    box-shadow: 0px 0px 10px 6px #575757; */
}

.myRooms img {

    width: 35%;
    height: 100%;
    object-fit: cover;
    margin-left: 0px;
    margin-right: 40px;

}

.myRooms .add {
    background-color: #003147;
    color: white;
    outline: none;
    border: none;
    padding: 10px;
    margin: 10px;
    width: 150px;
}

.myRooms .add:hover {
    background: #6b818a !important;
    border: 2px solid #003147 !important;
    color: #003147 !important;
}

.myRooms .card h2 {
    margin: 0;
    padding: 0;
    color: #003147;
    font-size: 26px;
    font-weight: 700;
}

.myRooms .card p {
    margin: 0;
    padding: 5px;
}

.myRooms .card button {
    border: 2px solid #003147;
    /* background: transparent; */
    /* color: #003147; */
    padding: 10px;
    /* border-radius: 6px; */
    /* min-width: 120px; */
    float: right;

    /*display: inline-flex;
    gap: 10px; */
    width: 150px;
    background: #003147;
    /* box-shadow: 0px 0px 4px 3px #543322; */
    border: none;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    padding: 10px;
    margin: 10px;
    margin-bottom: -50px;
}

.myRooms .card button:hover {
    background: #6b818a !important;
    border: 2px solid #003147 !important;
    color: #003147 !important;
}

.myRooms .cardContent {
    width: 100%;
}

@media screen and (width <=700px) {
    .myRooms .card {
        margin: 0;
        padding: 10px;
        width: 95%;
        flex-direction: column;
    }
}

/*Popup*/
.box {
    background-color: #f8f8f8;
    /* top: 20px; */
    width: 1000px;
    height: 600px;
    z-index: 99;
    padding: 50px;
    margin: 20px;
}

#popup {
    display: none;
    height: 90%;

    /* display: flex;
    justify-content: center;
    align-items: center; */

}

.mypopup {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(19, 19, 19, 0.788);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.mypopup a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.mypopup a:hover {
    color: #f1f1f1;
}

.mypopup .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.box .close {
    width: 20px;
    float: right;
}

.box .close:hover {
    filter: drop-shadow(5px 5px 5px #ff0101);
}

/*End of popup*/

/*End of Rooms and room*/


/*Room*/
#room {
    display: block;
}

#upRoom {
    display: block;
}

.room .roomNav {
    margin: 20px 30px;
}



.room header {
    background-image: url("./Assets/Images/hotel.jpg");
    background-size: cover;
    height: 30vh;
    background-position: center;
    background-attachment: fixed;
    text-align: left;
    width: 97%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0px 0px 30px;
    /* border-radius: 1em; */
    box-shadow: 5px 5px 10px 0px #4F4E4E;
}

.room .hdText {
    position: absolute;
    color: whitesmoke;
    margin-left: 30px;
    font-size: 18px;
}

.room .hdText h1 {
    /* font-size: 35px; */
    padding: 0;
    margin: 5px
}

.room .hdText p {
    /* font-size: 35px; */
    padding: 0;
    margin: 5px;
    color: #f1fbff;
}

.room .bgLayer {
    width: 100%;
    border-radius: 1em;
    background-color: #003147;
    opacity: 0.7;

    text-align: center;
    height: 100%;
}

.room .changes button {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
}

.room .changes {
    text-align: right;
}

.room .roomNav img {
    cursor: pointer;
    width: 40px;
    /* filter: drop-shadow(3px 3px 5px #a08374); */
}

.room .roomNav img:hover {
    width: 42px;
    filter: drop-shadow(3px 3px 5px #006c9e);
}

#room {
    margin: 50px;
}

.room .room-content {
    margin: 50px 0 !important;
}

.room .room-content h2 {
    color: #003147;
    font-size: 35px;
    margin: 20px 0 10px 0;
}

.room .room-content p {
    color: #353535;
    font-size: 16px;
    margin: 0;
}

.room .room-content .price {
    color: #003147;
    font-size: 32px;
    margin: 20px 0 0 0;
    padding: 0;
}

.room .content table {
    width: 100%;
}


.room .room-content span {
    color: #003147;
    font-size: 24px;
}

.room img {
    margin: 10px;
}

.room-content .myMainImg img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    box-shadow: 5px 5px 10px 0px #7a7a7a;
}

.room-content .column:first-child {
    padding: 20px;
    margin: 0;
    width: 40%;
}

.room-content .column:not(:first-child) {
    padding: 20px;
    margin: 0;
    width: 50%;
}

.room-content #roomImgs img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 10px 0px #7a7a7a;

}

/* .room-content #roomImgs .column:first-child {
    padding: 0px;
    margin: 0;
    width: 95%;
    height: 50vh;
} */

.room-content #roomImgs .column {
    padding: 0px;
    margin: 10px 10px 0 0;
    width: 23.5%;
}


.room-content .tempImgStyle {
    border: 3px solid #003147;
}

.room-content li {
    display: inline;
}

.room-content ul {
    display: flex;
    list-style: none;
    padding: 0;
    /* to remove default bullets */
}

.room-content li {
    float: left;
    width: auto;
    padding-right: 20px;
}


/*Popup*/
.room .box {
    background-color: #f8f8f8;
    /* top: 20px; */
    width: 500px;
    height: auto;
    z-index: 99;
    padding: 50px;
    margin: 20px;
}

.room #roomPopup {
    display: none;
    height: 90%;

    /* display: flex;
    justify-content: center;
    align-items: center; */

}

.room .mypopup {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(19, 19, 19, 0.788);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.room .mypopup h1 {
    padding: 0;
    margin: 0;
    color: #003147;
    font-size: 40px;
    font-weight: bold;
}

.room .mypopup p {
    margin: 0 0 30px 0;
    padding: 0;
}

.room .mypopup .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.room .box .close {
    width: 20px;
    float: right;
}

.room .box .close:hover {
    filter: drop-shadow(5px 5px 5px #ff0101);
}

.room .box button {
    border: 2px solid #003147;

    background: #003147;
    border: none;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    padding: 10px;

}

.room .box button:hover {
    background: #6b818a !important;
    border: 2px solid #003147 !important;
    color: #003147 !important;
}

/*End of popup*/

/*User Nav*/
.userTopNav {
    margin: 0;
    padding: 20px 50px;
}

.userTopNav h2 {
    padding: 0 10px;
    margin: 0;
    color: #003147;
}

.userTopNav h3 {
    padding: 0 10px;
    margin: 0;
    color: #575757;
}

.userTopNav .profile img {
    border: 3px solid #003147;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
}

.userTopNav .column {
    width: 50%;
    float: left;

}

.userTopNav button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    float: right;
}

.userTopNav img:hover {
    border: 2px solid #003147;
    background-color: white;
    border-radius: 50%;
    padding: 3px;
}


.userBtmNav {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    background-color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

.userBtmNav li {
    display: inline;
}

.userBtmNav ul {
    display: flex;
    list-style: none;
    padding: 0;
    /* to remove default bullets */
}

.userBtmNav li {
    float: left;
    width: auto;
    padding-right: 50px;
}

.userBtmNav img {
    width: 35px;
}

.userBtmNav button {
    margin: 0;
    padding: 0px;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 100%;
}

.userBtmNav button:hover {
    margin: 0;
    filter: drop-shadow(5px 5px 5px #003147);
}

/*End of user nav*/

/*Users*/

.users h1 {
    padding: 0;
    margin: 0;
    color: #003147;
    font-size: 40px;
    font-weight: bold;
}

.users .intro {
    margin: 0;
    padding: 0;
}

.myUsers .column {
    padding: 20px;
    margin: 0;
    width: 95%;
}

.myUsers .card {
    display: flex;
    align-items: center;
    width: 100%;
    /* max-width: 650px; */
    padding: 10px;
    background: #fff;
    /* border-radius: 24px; */
    box-shadow: 0px 0px 10px 6px #575757;

    /* width: 100%;
    height: 400px;
    flex-shrink: 0;

    background: #FFF;
    box-shadow: 0px 0px 10px 6px #575757; */
}

.myUsers img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin-left: 0px;
    margin-right: 40px;
    border-radius: 100%;



}

.myUsers .card h2 {
    margin: 0;
    padding: 0;
    color: #003147;
    font-size: 26px;
    font-weight: 700;
}


.myUsers .card h3 {
    margin: 0;
    padding: 5px;
}

.myUsers #avail img {
    width: 100px;
    height: 100px;
    border-radius: 0;
    float: right;
}



.myUsers .card button {
    border: 2px solid #003147;
    /* background: transparent; */
    /* color: #003147; */
    padding: 10px;
    /* border-radius: 6px; */
    /* min-width: 120px; */
    float: right;

    /*display: inline-flex;
    gap: 10px; */
    width: 150px;
    background: #003147;
    /* box-shadow: 0px 0px 4px 3px #543322; */
    border: none;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    padding: 10px;
    margin: 10px;
    margin-bottom: -50px;
}

.myUsers .card button:hover {
    background: #6b818a !important;
    border: 2px solid #003147 !important;
    color: #003147 !important;
}

.myUsers .cardContent {
    width: 100%;
}

.myUsers .cardContent .column {
    padding: 20px;
    margin: 0;
    width: 25%;

}

.myUsers .profileD img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0;
}

.myUsers .profileD h5{
    padding: 0;
    margin: 0 0 0 5px;
    font-size: 17px;
}

@media screen and (width <=700px) {
    .myUsers .card {
        margin: 0;
        padding: 10px;
        width: 95%;
        flex-direction: column;
    }
}

/*Popup*/
.userProfile .wrap {
    background-color: #f8f8f8;
    /* top: 20px; */
    width: 350px;
    height: auto;
    z-index: 99;
    padding: 50px;
    margin: 20px;
}

.userProfile #userUpdate {
    display: none;
    height: 90%;

    /* display: flex;
    justify-content: center;
    align-items: center; */

}

.userProfile .myPopup {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(19, 19, 19, 0.788);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.userProfile .myPopup h1 {
    padding: 0;
    margin: 0;
    color: #003147;
    font-size: 40px;
    font-weight: bold;
}

.userProfile .myPopup p {
    margin: 0 0 30px 0;
    padding: 0;
}

.userProfile .myPopup .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.userProfile .wrap .close {
    width: 20px;
    float: right;
}

.userProfile .wrap .close:hover {
    filter: drop-shadow(5px 5px 5px #ff0101);
}

.userProfile .wrap button {
    border: 2px solid #003147;

    background: #003147;
    border: none;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    padding: 10px;

}

.userProfile .wrap button:hover {
    background: #6b818a !important;
    border: 2px solid #003147 !important;
    color: #003147 !important;
}

/*End of popup*/
/*End of users*/


/*End of room*/


/*landing page*/
.userRooms {
    margin: 0 0 0 50px;
}

.userRooms main {
    margin: 0;
}

.userRooms .rows {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
}

.userRooms .rows::-webkit-scrollbar {
    width: 10px;
}

.userRooms .rows::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.userRooms .rows::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}


.userRooms .card {
    float: left;
    padding: 0;
    margin: 0;
    width: 400px;
    margin: 20px;
    position: relative;
}

.userRooms .card img {
    width: 100%;
}

.userRooms .ratings {
    position: absolute;
    top: 0;
    right: 0;
    /* transform: translate(-50%, -50%); */
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: right;


}

/*end of landing page*/


/*User View Room*/
.userRoom,
#vRoom {
    margin: 0;
    padding: 0;
}

.userRoom header {
    height: 80vh;
    width: 100%;
    background-color: #003147;
    position: relative;
}

.userRoom .mainImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userRoom .imgs {
    position: absolute;
    bottom: 50px;
    left: 50px;
    /* transform: translate(-50%, -50%); */
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: right;


}

.userRoom .imgs img {
    height: 100px;
    width: 150px;
    object-fit: cover;
    margin-right: 20px;
    border: 4px solid gray;
    border-radius: 1em;
}

.userRoom .roomNav {
    position: absolute;
    top: 50px;
    left: 50px;
    /* transform: translate(-50%, -50%); */
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: right;

}


.userRoom .roomNav img {
    cursor: pointer;
    width: 40px;

    filter: drop-shadow(5px 5px 5px #ffffff);
}

.userRoom .roomNav img:hover {
    width: 42px;
    filter: drop-shadow(3px 3px 5px #006c9e);
}

.userRoom .content {
    padding: 50px;
}

.userRoom .content ul {
    display: flex;
    list-style: none;
    padding: 0;
    /* to remove default bullets */
}

.userRoom .content li {
    display: inline;
    float: left;
    width: auto;
    padding-right: 20px;
}

/*End of User View Room*/



/*testing*/



#test {
    display: none;
    height: 90%;

    /* display: flex;
    justify-content: center;
    align-items: center; */

}

.testing {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*Media*/
@media screen and (width <=700px) {

    /*Sign In*/
    .signIn {
        margin: 0px;
    }

    .signIn .column:first-child {
        width: 100%;
        position: unset;
        right: 0;
    }

    .signIn .column:not(:first-child) {
        width: 100%;
    }

    .signIn #bg {
        height: 20vh;
        position: unset;
        top: 0;
        right: 0;
    }

    .signIn nav {
        display: none;
    }

    .signIn .wrapper {
        margin: 30px;

    }

    .signIn table h3 {
        font-size: 16px;
    }

    .signIn table img {
        width: 40px;
        margin: 10px 10px 0 0;
    }

    .signIn .email,
    .signIn .password {
        background-color: #fff;
        width: 100%;
        padding: 10px;
        box-shadow: 0px 0px 18px 1px #FFF5F0;
        margin-bottom: 20px;
        position: relative;
    }

    .signIn .tempStyle {
        width: 100%;
        padding: 10px;
    }

    .signIn-form p {
        cursor: pointer;
        width: 100%;
        text-align: right;
    }

    .signIn-form button {
        width: 100%;
        font-size: 16px;
    }

    /*End of Sign In*/


    /*Dashboard*/
    .sideNav {
        padding-top: 30px;
    }

    .sideNav #text {
        display: none;
    }


    .top .sign-out {
        width: 45%;
        color: black;
        float: left;
        padding: 0;
        margin: 0;
        text-align: right;
    }

    .top .sign-out button {
        width: 120px;
        background: #543322;
        border: none;
        color: white;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        padding: 10px;
    }

    .top .sign-out button:hover {
        background: #ff8585;
        border: 1px solid #543322;
        color: #000;
        box-shadow: 0px 0px 18px 1px #b40202;
    }

    .top {
        margin-left: 21%;
        padding: 0 0 0 40px;
    }

    .top h1 {
        font-size: 30px;
        margin: 0;
        padding: 0;
        color: #003147;
    }


    .dashboard .date {
        width: 95%;
    }

    .dashboard .date h3 {
        font-size: 16px;
        font-weight: 100;
    }

    #dash header {
        height: 20vh;
        width: 97%;
        margin: 20px;
        box-shadow: 3px 3px 10px 0px #4F4E4E;
    }

    #dash .hdText {
        margin-left: 10px;
        font-size: 14px;
    }

    #dash .column:first-child {
        width: 95%;
    }

    #dash .column:not(:first-child) {
        width: 95%;
    }

    #states {
        margin: 30px 0 0 20px;

    }

    #states .column {
        width: 100% !important;
        padding: 5px 0;
    }

    #states .stCard {
        padding: 10px 10px 0 10px;
        box-shadow: 3px 3px 10px 0px #4F4E4E;
        border-radius: 1em;
    }

    #states h4 {
        font-size: 20px;
    }

    #states .stCard h5 {
        font-size: 18px;
    }

    #states .stCard p {
        font-size: 14px;
    }

    .dashboard #details {
        width: 99%;

        margin-top: 30px;
        margin-left: 0;
        background-color: white;
        border-radius: 0;
        box-shadow: none;
    }

    .dashboard #details h3 {
        font-size: 22px;
    }

    .dashboard #details h5 {
        font-size: 16px;
    }

    .dashboard #details .column {
        width: 100%;
    }

    .sideNav {
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        width: 20%;
        background: #FFF;
        box-shadow: 0px 0px 10px 1px #575757;
        flex-shrink: 0;
    }

    .sideNav .sign-outBtn {
        margin: 45vh 20px 20px 20px;
        width: 60%;
        text-align: left;
        padding: 5px;
        margin-bottom: 10px;

        background: whitesmoke;

        outline: none;
        border: none;
    }

    .controllers {
        margin: 50px 20px 0 20px;

    }

    /*End of Dashboard*/


    /*New room*/
    .new-room {
        margin: 0px;
        padding: 20px;
    }

    .new-room h1 {
        padding: 0;
        margin: 0;
        font-size: 28px !important;
        font-weight: bold;
    }

    .new-room .intro {
        margin: 0 0 10px 0;
        padding: 0;
        color: #616060;
        font-size: 14px;
    }

    #room-dtls .column {
        width: 100%;
    }

    .images-form {
        margin: 10px 0;
    }

    .input-images {
        width: 350px;
    }

    .images-form p {
        margin-top: 20px;
        font-style: italic;
        font-size: 14px;
    }

    .room-form .small {
        width: 90%;
        margin-right: 10px;
    }

    .room-form .small2 {
        width: 96%;
        margin-right: 10px;
    }

    .room-form select {
        padding: 10px;
    }

    .room-form .long {
        width: 90%;
    }

    #displayImg .main {
        width: 360px;
        height: 280px;
        object-fit: cover;
        box-shadow: 5px 5px 10px 0px #4F4E4E;
    }


    #addImgs .sub {
        width: 116px;
        height: 90px;
        object-fit: cover;
        box-shadow: 5px 5px 10px 0px #4F4E4E;
    }

    #displayImg button {
        margin-top: 10px;
        width: 100%;
    }

    /*End of New room*/


    /*Rooms and room*/

    .rooms h1,
    #room h1 {
        padding: 0;
        margin: 0;
        color: #003147;
        font-size: 40px;
        font-weight: bold;
    }

    .rooms .intro,
    .room .intro {
        margin: 0;
        padding: 0;
    }

    #search {
        margin: 0 20px 10px 10px;
    }

    #search .column {
        padding: 20px;
        margin: 0;
        width: 95%;
    }

    #search .column:first-child {
        text-align: left;
    }


    #search .column:not(:first-child) {
        text-align: right;
    }


    .searchBar {

        width: 100%;
        height: 40px;
        float: none;
    }

    .searchBar button,
    .searchBar input {
        outline: none;
        border: none;
        background-color: transparent;
        margin: 0;
        padding: 0;
    }

    .searchBar input {
        width: 90%;
        height: 100%;
    }

    .searchBar img {
        width: 25px;
    }

    .myRooms .column {
        padding: 20px;
        margin: 0;
        width: 95%;
    }

    .myRooms img {
        width: 100%;
        height: 50%;
        object-fit: contain;
        margin-left: 0px;
        margin-right: 0px;

    }

    .myRooms .add {
        background-color: #003147;
        color: white;
        outline: none;
        border: none;
        padding: 10px;
        margin: 10px 35px;
        width: 150px;
    }

    .myRooms .add:hover {
        background: #6b818a !important;
        border: 2px solid #003147 !important;
        color: #003147 !important;
    }

    .myRooms .card h2 {
        margin: 0;
        padding: 0;
        color: #003147;
        font-size: 26px;
        font-weight: 700;
    }

    .myRooms .card p {
        margin: 0;
        padding: 5px;
    }

    .myRooms .card button {
        padding: 8px;
        float: right;
        width: 130px;
        font-size: 16px;
        font-weight: 100;
        margin: 10px;
        margin-bottom: 0px;
    }


    /*Popup*/
    .box {
        background-color: #f8f8f8;
        /* top: 20px; */
        width: 100%;
        height: 100%;
        z-index: 99;
        padding: 20px;
        margin: 0px;
        position: relative;
        bottom: 0;

        display: flex;
        align-items: center;
    }

    #popup {
        display: none;
        height: 100%;

    }



    .mypopup .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .box .close {
        position: absolute;
        top: 30px;
        right: 50px;
        font-size: 36px;
        margin-left: 50px;
    }

    /*End of popup*/

    /*End of Rooms and room*/




    /*Room*/
    #room {
        display: block;
    }

    #upRoom {
        display: block;
    }

    .room .roomNav {
        position: absolute;
        z-index: 1;
        margin: 10px;
    }

    .room header {
        display: none;
    }

    .room .roomNav img {
        width: 30px;
    }

    .room .roomNav img:hover {
        width: 32px;
    }

    #room {
        margin: 0px;
    }

    .room .room-content {
        position: absolute;
        top: 0;
        margin: 0px 0 !important;
    }

    .room .room-content h2 {
        color: #003147;
        font-size: 35px;
        margin: 20px 0 10px 0;
    }

    .room .room-content p {
        color: #353535;
        font-size: 16px;
        margin: 0;
    }

    .room .room-content .price {
        color: #003147;
        font-size: 32px;
        margin: 20px 0 0 0;
        padding: 0;
    }

    .room .content table {
        width: 100%;
    }


    .room .room-content span {
        color: #003147;
        font-size: 24px;
    }

    .room img {
        margin: 0px;
    }



    .room-content .column:first-child {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .room-content .column:not(:first-child) {
        padding: 0;
        margin: 30px;
        width: 90%;
    }

    .room-content .mainImg {
        height: 100%;
        width: 100%;
        object-fit: cover;
        box-shadow: none;

        padding: 0px;
        margin: 0;
        width: 100%;
        height: 50vh;
    }

    .room-content #roomImgs .column {

        width: 22.3%;
    }

    .room-content #roomImgs .row {
        margin: 0px 20px;
    }


    /*Popup*/
    .room .box {
        background-color: #f8f8f8;
        /* top: 20px; */
        width: 100%;
        height: 90%;
        z-index: 99;
        padding: 30px;
        margin: 0;
    }

    /*End of popup*/



    /*Users*/


    .myUsers img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 100%;



    }


    .myUsers #avail img {
        width: 100px;
        height: 100px;
        border-radius: 0;
        float: right;
    }



    .myUsers .card button {
        border: 2px solid #003147;
        /* background: transparent; */
        /* color: #003147; */
        padding: 10px;
        /* border-radius: 6px; */
        /* min-width: 120px; */
        float: right;

        /*display: inline-flex;
    gap: 10px; */
        width: 150px;
        background: #003147;
        /* box-shadow: 0px 0px 4px 3px #543322; */
        border: none;
        color: white;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        padding: 10px;
        margin: 10px;
        margin-bottom: -50px;
    }

    .myUsers .card button:hover {
        background: #6b818a !important;
        border: 2px solid #003147 !important;
        color: #003147 !important;
    }

    .myUsers .cardContent {
        width: 100%;
        margin-top: 30px;
    }

    .myUsers .cardContent .column {
        padding: 20px;
        margin: 0;
        width: 90%;

    }

    /*End of users*/


}

/*Media*/